@using NGadag.Models;
@{
    ViewData["Title"] = "Account";
}
@model User;

<div class="container text-center">
    <div class="row align-items-end">
        <div class="col">
            <h1 class="display-4">Личный кабинет</h1>

            <div class="card" style="width: 18rem;">
                <img src="https://cdn-icons-png.flaticon.com/512/1869/1869679.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h6 class="card-title">@Model.Id</h6>
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Phone</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Город: @Model.City</li>
                    <li class="list-group-item">Роль: @Model.Role</li>
                </ul>
            </div>
            <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Выйти</a>
        </div>

        @if (User.IsInRole("root"))
        {
            <div class="col d-grid gap-2">
                <a asp-controller="" asp-action="" type="button" class="btn btn-warning">Товары в отделах\на сайте</a>
            </div>
        }


    </div>
</div>

<div class="text-center">
</div>