@model NGadag.ViewModels.CreateAdViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ad</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="HeadImage" class="control-label"></label>
                <input asp-for="HeadImage" class="form-control" accept="image/jpeg,image/jpg,image/png" />
                <span asp-validation-for="HeadImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <textarea asp-for="Descriptions" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" accept="image/jpeg,image/jpg,image/png" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Samples" class="control-label"></label>
                <input asp-for="@Model.Samples" class="form-control" accept="image/jpeg,image/jpg,image/png" />
                <input asp-for="@Model.Samples" class="form-control" accept="image/jpeg,image/jpg,image/png" />
                <input asp-for="@Model.Samples" class="form-control" accept="image/jpeg,image/jpg,image/png" />
                <input asp-for="@Model.Samples" class="form-control" accept="image/jpeg,image/jpg,image/png" />
                <input asp-for="@Model.Samples" class="form-control" accept="image/jpeg,image/jpg,image/png" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
